/* 訂單完成頁 - confirmationPage.css */

.order-status {
    text-align: center;
    margin-top: 50px;
  }
  
  .order-status h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .order-status p {
    font-size: 18px;
    margin: 6px 0;
  }
  
  .order-number {
    font-size: 48px;
    font-weight: bold;
    background: #fcebd3;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    color: #8d5c2c;
  }
  
  .next-btn {
    background-color: #f4e04d;
    color: black;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  